.sidebar {
    width: 250px;
    background: #bcbdbe;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #e6e9ef;
  }
  
  .logo {
    margin-bottom: 50px;
  }
  
  .logo h2 {
    color: #0061ff;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
  }
  
  nav button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    background: none;
    border: none;
    text-align: left;
    color: #162d3d;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  nav button:hover {
    background: #e6e9ef;
  }
  
  nav button.active {
    background: #0061ff;
    color: white;
  }
  
  .icon {
    margin-right: 25px;
  }

  .logo h2 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-img {
    height: 30px; 
    width: auto;
  }
  